@charset "UTF-8";
/* --color infos purple #9356DC; pink #FF79DA; blue #99E2D0 lightgrey #F6F6F6; grey #EAEAEA; icongrey #7e7e7e; darkengrey #3A3433; -- */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("polices/Roboto-Regular.ttf");
  src: url("polices/Roboto-Thin.ttf");
  src: url("polices/Roboto-Bold.ttf");
  src: url("polices/Roboto-Light.ttf");
  src: url("polices/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

/* --première page menu à la french -- */
body,
nav,
header,
section {
  max-width: 1440px;
  min-width: 300px;
  font-family: "Roboto" ,sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  margin: 0%;
}

header {
  background-color: white;
  width: 100%;
}

header .title {
  height: 75px;
}

header .title .fa-arrow-left {
  position: relative;
  bottom: 8px;
  right: 65px;
}

header .title .logo {
  margin: 30px 0 0 0;
  width: 165px;
  height: 30px;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0.5px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0.5px 2px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
  font-weight: 500;
}

header form .icon-map {
  margin: 0 15px 0 0;
}

nav h1 {
  margin: 35px 0 15px 0;
  text-align: center;
  width: 250px;
  font-size: 25px;
}

nav p {
  font-weight: 300;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0;
}

nav .btn-search,
nav .btn-order {
  /* --pages menus -- */
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 220px;
  height: 50px;
  background: linear-gradient(175deg, #ea73da, #9356dc);
  color: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  margin: 30px auto 60px auto;
}

h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 55px 0 30px 20px;
}

h3 {
  margin: 0px 0 5px 0;
  width: 100%;
}

.function {
  height: 440px;
  background-color: white;
  width: 100%;
}

.function .btn-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  width: 320px;
  height: 75px;
  margin: 10px 20px 10px 30px;
}

.function .btn-function .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
}

.function .btn-function .icon-function {
  font-size: .75em;
  color: #7e7e7e;
  font-size: 20px;
}

.function .btn-function .text-area {
  font-size: 16px;
}

.function .btn-function .circle, .function .btn-function .icon-function, .function .btn-function .text-area {
  position: relative;
  right: 35px;
}

.choice {
  margin: 0 0 50px 0;
  width: 100%;
  margin-bottom: 60px;
}

.choice .selection-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 10px 0;
  width: 340px;
  height: 255px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.choice .selection-restaurant .text-card-new {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #36a78b;
  background-color: #99e2d0;
  width: 80px;
  position: absolute;
  left: 265px;
  margin: 15px 20px 0 0;
  padding: 5px;
}

.choice .selection-restaurant .img-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}

.choice .selection-restaurant .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
  font-weight: 300;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: #3A3433;
  color: white;
}

footer .title-footer {
  height: 65px;
}

footer .title-footer .white-logo {
  width: 100px;
  height: 20px;
  margin: 25px;
}

footer .text-footer {
  margin-left: 25px;
  line-height: 25px;
}

footer .text-footer .icon-footer {
  font-size: 12px;
  margin-right: 5px;
}

/* --première page menu à la french -- */
.picture-banner {
  width: 100%;
  height: 255px;
}

.french-menu {
  background-color: pink;
  border-radius: 30px 30px 0 0;
}

.french-menu .french-title {
  font-family: "Shrikand-Regular";
}

.french-menu .dishes {
  width: 350px;
  height: 70px;
  margin: 0 0 15px 12px;
  border-style: none;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.french-menu .btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.french-menu h4 {
  margin: 0 0 10px 20px;
  font-weight: 300;
}

.french-menu hr {
  border: none;
  border-top: 3px solid #99e2d0;
  width: 40px;
  text-align: start;
}
/*# sourceMappingURL=main.css.map */