/* --color infos purple #9356DC; pink #FF79DA; blue #99E2D0 lightgrey #F6F6F6; grey #EAEAEA; darkengrey #3A3433; -- */
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("polices/Roboto-Regular.ttf");
  src: url("polices/Roboto-Thin.ttf");
  src: url("polices/Roboto-Bold.ttf");
  src: url("polices/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto" ,sans-serif;
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  border: 1px solid pink;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 115px;
  background-color: white;
  width: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
}

.logo {
  margin: 15px 0 0 0;
  width: 165px;
  height: 30px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 1px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 5px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
  font-weight: bold;
}

.icon-map {
  margin: 0 15px 0 0;
}

h1 {
  margin: 45px 0 25px 0;
  text-align: center;
  width: 250px;
  font-size: 20px;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}

.btn-search {
  font-weight: bold;
  width: 220px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ea72da), to(#9356dc));
  background: linear-gradient(#ea72da, #9356dc);
  color: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  margin: 30px auto 60px auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  height: 440px;
  width: 100%;
}

.choice {
  height: 100%;
}

h2 {
  margin: 55px 0 30px 20px;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
}

.btn-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #F6F6F6;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  width: 330px;
  height: 80px;
  margin: 10px;
}

.icon-function {
  color: #3A3433;
}

.selection-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  height: 255px;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.img-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}

.text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

h3 {
  margin: 5px 0 10px 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: #3a3433;
  color: white;
  margin-top: 55px;
}

.title-footer {
  height: 65px;
}

.white-logo {
  width: 100px;
  height: 20px;
  margin: 25px;
}

.text-footer {
  margin-left: 25px;
  line-height: 25px;
}

.icon-footer {
  font-size: 12px;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */