@import "./utils/variables";
@import "./base/base.scss";
@import "./base/typography.scss";
@import "./components/buttons.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
/* --body -- */
body,
nav,
header,
section{
  @include structure;
  font-family: "Roboto" ,sans-serif;
  flex-direction: column;
  background-color:$lightgrey;
  margin: 0%;
}
a{
  color: black;
  text-decoration: none;
}

/* --nav-- */
nav{
  h1{
    margin: 35px 0 15px 0;
    text-align: center;
    font-size: 25px;
  }
  p{
    width: 100%;
    font-weight: 300;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
}
@media screen and(max-width:600px){
 h1{
  width: 60%;
 }
}
.btn-search, /* --page acceuil -- */
.btn-order{ /* --pages menus -- */
  @include btn-purple;
  @include shadow-btn;
  @include border;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
    &:hover{
    transform: scale(1.3);
  }
}
h2{
  align-self: flex-start;
  margin: 55px 0 30px 20px;
}
h3{
  margin: 0;
  width: 100%;
}
h4{
  margin:45px 0 0 20px;
  font-weight: 300;
  align-self: flex-start;
}
hr{
  margin-left: 20px;
  border-bottom: 3px solid $blue;
  border-left: none;
  border-top: none;
  width: 40px;
  margin-bottom: 10px;
}
/* --Section function-- */
.function{
  height: 440px;
  background-color: white;
  width: 100%;
  .title-function{
    margin-left: 16%;
  }
  @media screen and (max-width: 1160px){
    .title-function{
      margin-left: 20px;
    }
  }
  .btn-function{
    @include grey-btn;
    @include shadow-btn;
    @include border;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    background-color:$lightgrey;
    font-weight: bold;
    width: 50%;
    height: 75px;
    margin: 10px 20px 10px 30px;
    &:hover{
      background-color: $lightpurple;
      .icon-function{
        color: $purple;
      }
    }
    .circle{
      @include structure;
      justify-content: center;
      font-size: 12px;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-color:$purple;
      color: white;
      }
      .icon-function{
        color:$icongrey;
        font-size: 20px;
      }
      .fa-mobile-alt{
        margin-left: 15px;
      }
      .text-area{
        font-size: 16px;
      }
      .circle,.icon-function,.text-area{
        position: relative;
        right: 35px;
      }
  }
  @media screen and (max-width: 700px){
    .btn-function{
      width: 70%;
    }
  }
}
/* --Section Choice-- */
.choice{
  @include structure;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin:0 0 60px 0;
  width: 70%;
  .title-restaurant{
    width: 100%;
  }
  .selection-restaurant{
    @include shadow-btn;
    @include card;
    @include border;
    transform: scale(1);
    transition: transform 500ms;
    .text-new{
      @include structure;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      border-radius: 3px;
      color: #36a78b;
      background-color:$blue;
      width: 80px;
      position: relative;
      bottom: 200px;
      left: 80px;
    }
    .first-new{
      left: 65px;
    }
    .img-restaurant{
      object-fit:cover;
      width: 100%;
      height: 175px;
      border-radius: 15px 15px 0 0;
    }
    .text-dish{
      width: 90%;
      padding: 10px 0 20px 15px;
      margin: 0;
      .logo-heart{
        position: relative;
        
      }
    }
    &:hover{
      transform: scale(1.15);
    }
  }  
}
@media screen and (max-width: 1160px){
  .choice{
    width: 100%;
  }
}

/* --pages menus -- */
figure{
    display: flex;
    justify-content: center;
    margin: 0;
  .picture-banner{
    width: 75%;
    border-radius: 0 0 30px 30px;
  }
}
@media screen and (max-width:600px){
  figure>.picture-banner{
    width: 100%;
  }
}
/* --Section menu-- */
.menu{
  border-radius: 30px 30px 0 0;
  width: 70%;
  position: relative;
  bottom: 160px;
  .title-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .big-title{
      font-family: "Shrikhand";
      font-size: 28px;
      font-weight: lighter;
      letter-spacing: 0.5px;
      margin-bottom: 0;
    }
    .logo-heart{
      position: relative;
      right: 60px;
      top: 25px;
    }
  }
  .logo-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      i.far{
        color:transparent;
      }
      .second{
        color: $purple;
      }
    }
  }
  i.far{
    transform: margin-bottom 1s;
    transition-duration: 0.5s;
  }
  .second{
    position: absolute;
    color: transparent;
    transform: margin-bottom 1s;
    transition-duration: 0.5s;
  }
  .menu,
  .dishes{
    animation: 2s ease-out load;
  }
  .dishes{
    @include grey-btn;
    @include shadow-btn;
    @include border;
    background-color: white;
    width: 90%;
    height: 70px;
    margin: 10px 0 10px 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    &:hover{
      .check{
        width: 25%;
      }
    }
    .text-dish{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      margin: 20px 0 20px 20px;
      h3{
        display: flex;
        align-items: flex-start; 
        margin-bottom: 5px;
      }
    }
    .price{
      height: 90%;
      margin: 20px;
      padding-top: 65px;
    }
    .check{
      display: flex;
      justify-content: center;
      align-items: center; 
      color: white;
      background-color: $blue;
      width: 0;
      height: 100%;
      color: white;
      overflow: hidden;
      border-radius: 0 20px 20px 0;
      transform: margin-right 1s;
      transition-duration: 500ms;
    }
  }
  .btn-order{
    margin-top: 50px;
  }
}
@media screen and (max-width:700px){
  .menu{
    position: relative;
    bottom: 90px;
  }
}
@media screen and (max-width:600px){
  .menu{
    width: 100%;
    margin: 0;
    position: relative;
    bottom: 60px;
  }
}
