@import "./utils/variables";

@import "./base/typography.scss";

@import "./components/titles.scss";
@import "./components/buttons.scss";
@import "./components/heart.scss";
@import "./components/loader.scss";

@import "./layout/header.scss";
@import "./layout/form.scss";
@import "./layout/choice.scss";
@import "./layout/menus.scss";
@import "./layout/footer.scss";


/* --body -- */
body,
nav,
header,
section{
  @include structure;
  font-family: "Roboto" ,sans-serif;
  flex-direction: column;
  background-color:$lightgrey;
  margin: 0%;
}
.back{
  opacity:1;
  background-color: $purple;
  animation-delay: 5s;
  animation: disappear 2s ease-out;
  animation-fill-mode: forwards;
}
body{ /* --exclure loader de l'animation css -- */
  animation-delay: 5s;
  animation: appear 4s ease-in;
  animation-fill-mode: forwards;
} 
p{
  @include ellipsis;
}
a{
  color: black;
  text-decoration: none;
}
/* --nav-- */
nav{
  p{
    width: 100%;
    font-weight: 300;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
}



