/* --Section Choice-- */
.choice{
    @include structure;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:0 0 60px 0;
    width: 70%;
    .title-restaurant{
      width: 100%;
    }
    @media screen and (max-width:400px){
      .title-restaurant{
        width: 80%;
      }
    }
    article{
      @include shadow-btn;
      @include card;
      @include border;
      transform: scale(1);
      transition: transform 500ms;
      .text-new{
        border-radius: 3px;
        color: #36a78b;
        background-color:$blue;
        margin: 0;
        padding: 8px;
        position: absolute;
        top: 20px;
        left: 70%;
      }
    @media screen and (max-width:400px){
      .text-new{
        @include structure;
        width: 70px;
      }
    }
      .img-restaurant{
        object-fit:cover;
        width: 100%;
        height: 175px;
        border-radius: 15px 15px 0 0;
      }
      .logo-heart{
        position: absolute;
        bottom: 25px;
        left: 80%;
      }
      .text-card{
          margin: 10px;
      }
      p{
          margin: 5px 0 5px 0;
      }
      .text-dish{
        width: 90%;
        padding: 10px 0 20px 15px;
        margin: 0;
      }
      &:hover{
        transform: scale(1.15);
      }
    }  
  }
  @media screen and (max-width: 1160px){
    .choice{
      width: 100%;
    }
  }