/* --Section function-- */
.function{
    height: 500px;
    background-color: white;
    .title-function{
      margin-left: 16%;
      width: 80%;
    }
    .btn-function{
      .circle{
        @include structure;
        justify-content: center;
        font-size: 12px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color:$purple;
        color: white;
        }
      .icon-function{
        color:$icongrey;
        font-size: 20px;
      }
      .fa-mobile-alt{
        margin-left: 15px;
      }
      .text-area{
        font-size: 16px;
      }
    }
    @media screen and (max-width: 900px){
      .title-function{
        margin-left: 20px;
      }
      .btn-function{
        width: 85%;
      }
      .circle,
      .icon-function,
      .text-area{
        position: relative;
        right: 10%;
      }
    }
  }
