/* --Section menu-- */
figure{
    display: flex;
    justify-content: center;
    margin: 0;
  .picture-banner{
    width: 75%;
    border-radius: 0 0 30px 30px;
  }
}
.menu{
  border-radius: 30px 30px 0 0;
  width: 70%;
  position: relative;
  bottom: 140px;
  .title-menu{
    width: 95%;
    margin-right: 40px;
    display: flex;
    .big-title{
      font-size: 30px;
      font-family: "Shrikhand";
      font-weight: lighter;
      letter-spacing: 0.5px;
      margin: 35px 0 0 20px;
    }
    .logo-heart{
      margin-top: 30px;
    }
  }
  @media screen and (max-width:400px){
    .title-menu{
      margin-right: 0;
      width: 100%;
    }
    .logo-heart{
      position: absolute;
      right: 30px;
      top: 80px;
    }
  }
    span{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      animation: 2s ease-out load;
    }
    .plates{
      animation-delay: 300ms;
    }
    .dessert{
      animation-delay: 500ms;
    }
    h2{
      width: 96%;
      margin: 45px 0 0 0 ;
      font-weight: 300;
      animation: 1s ease-out load;
    }
    label{
      @include grey-btn;
      @include shadow-btn;
      @include border;
      background-color: white;
      width: 90%;
      height: 70px;
      margin: 10px 0 10px 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      animation: 2.5s ease-out load;
      &:hover{
          .check{
              width: 25%;
              .fa-check-circle{
                animation: rotate 500ms;
                animation-fill-mode: forwards;
              }
            }
        }
      }
      .text-dish{
        width: 100%;
        @include ellipsis;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin-left: 15px;
        h3{
          @include ellipsis;
          margin-top: 20px;
          width: 100%;
          
        }
        p{
          margin-top: 5px;
          width: 100%;
        }
      }
      .price{
        height: 90%;
        margin: 20px;
        padding-top: 65px;
        font-weight: bolder;
      }
      .check{
        display: flex;
        justify-content: center;
        align-items: center; 
        color: white;
        background-color: $blue;
        width: 0;
        height: 100%;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
        transition-duration: 500ms;
        .fa-check-circle{
            transition-duration: 400ms;
        }
      }
    }
    .btn-order{
      margin-top: 50px;
      animation: 3s ease-out load;
    }  
  @media screen and (max-width:600px){
    figure>.picture-banner{
        width: 100%;
    }
    .menu{
      width: 100%;
      margin: 0;
      h2{
        width: 90%;
        margin: 40px 0 10px 10px;
      }
      label{
        &:hover{
            .check{
            width: 30%;
            }
        }
      }
    }
  }