/* --Variables -- */
/* --Mixins -- */
/* --Keyframes -- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Roboto";
  src: url("polices/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("polices/Shrikhand-Regular.otf");
  src: url("polices/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* --header-- */
header {
  background-color: white;
  width: 100%;
}
header .arrow {
  position: absolute;
  top: 24px;
  left: 30px;
}
header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 65px;
}
header h1 .logo {
  margin-top: 10px;
  width: 165px;
  height: 30px;
}
header form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: inset 0.5px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
header form .icon-map {
  margin: 0 15px 0 0;
}

/* --Footer-- */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: #3A3433;
  color: white;
}
footer .title-footer .white-logo {
  height: 20px;
  margin: 25px;
}
footer .text-footer {
  margin-left: 25px;
}
footer .text-footer a {
  color: white;
}
footer .text-footer .icon-footer {
  font-size: 12px;
  margin-right: 5px;
}
footer .text-footer .bloc-footer {
  margin-left: 25px;
}

@media screen and (max-width: 700px) {
  footer {
    height: 200px;
  }
  footer .text-footer {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-left: 0;
  }
}
/* --body -- */
body,
nav,
header,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  background-color: #F6F6F6;
  margin: 0%;
}

a {
  color: black;
  text-decoration: none;
}

/* --nav-- */
nav h1 {
  margin: 35px 0 15px 0;
  text-align: center;
  font-size: 25px;
}
nav p {
  width: 100%;
  font-weight: 300;
  font-size: large;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    width: 60%;
  }
}
.btn-search,
.btn-order {
  /* --pages menus -- */
  border-style: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 220px;
  height: 50px;
  background: linear-gradient(175deg, #ea73da, #9356dc);
  color: white;
  border-radius: 50px;
  margin: 30px auto 60px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.btn-search:hover,
.btn-order:hover {
  transform: scale(1.3);
}

h2 {
  align-self: flex-start;
  margin: 55px 0 30px 20px;
}

h3 {
  margin: 0;
  width: 100%;
}

h4 {
  margin: 45px 0 0 20px;
  font-weight: 300;
  align-self: flex-start;
}

hr {
  margin-left: 20px;
  border-bottom: 3px solid #99E2D0;
  border-left: none;
  border-top: none;
  width: 40px;
  margin-bottom: 10px;
}

/* --Section function-- */
.function {
  height: 440px;
  background-color: white;
  width: 100%;
}
.function .title-function {
  margin-left: 16%;
}
@media screen and (max-width: 1160px) {
  .function .title-function {
    margin-left: 20px;
  }
}
.function .btn-function {
  background-color: #F6F6F6;
  border-style: none;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  font-weight: bold;
  width: 50%;
  height: 75px;
  margin: 10px 20px 10px 30px;
}
.function .btn-function:hover {
  background-color: #f4edff;
}
.function .btn-function:hover .icon-function {
  color: #9356DC;
}
.function .btn-function .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  font-size: 12px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
}
.function .btn-function .icon-function {
  color: #7e7e7e;
  font-size: 20px;
}
.function .btn-function .fa-mobile-alt {
  margin-left: 15px;
}
.function .btn-function .text-area {
  font-size: 16px;
}
.function .btn-function .circle, .function .btn-function .icon-function, .function .btn-function .text-area {
  position: relative;
  right: 35px;
}
@media screen and (max-width: 700px) {
  .function .btn-function {
    width: 70%;
  }
}

/* --Section Choice-- */
.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 60px 0;
  width: 70%;
}
.choice .title-restaurant {
  width: 100%;
}
.choice .selection-restaurant {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 20px 30px 20px 30px;
  width: 340px;
  height: 255px;
  background-color: white;
  border: none;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 500ms;
}
.choice .selection-restaurant .text-new {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  color: #36a78b;
  background-color: #99E2D0;
  width: 80px;
  position: relative;
  bottom: 200px;
  left: 80px;
}
.choice .selection-restaurant .first-new {
  left: 65px;
}
.choice .selection-restaurant .img-restaurant {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.choice .selection-restaurant .text-dish {
  width: 90%;
  padding: 10px 0 20px 15px;
  margin: 0;
}
.choice .selection-restaurant .text-dish .logo-heart {
  position: relative;
}
.choice .selection-restaurant:hover {
  transform: scale(1.15);
}

@media screen and (max-width: 1160px) {
  .choice {
    width: 100%;
  }
}
/* --pages menus -- */
figure {
  display: flex;
  justify-content: center;
  margin: 0;
}
figure .picture-banner {
  width: 75%;
  border-radius: 0 0 30px 30px;
}

@media screen and (max-width: 600px) {
  figure > .picture-banner {
    width: 100%;
  }
}
/* --Section menu-- */
.menu {
  border-radius: 30px 30px 0 0;
  width: 70%;
  position: relative;
  bottom: 160px;
}
.menu .title-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu .title-menu .big-title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
.menu .title-menu .logo-heart {
  position: relative;
  right: 60px;
  top: 25px;
}
.menu .logo-heart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .logo-heart:hover i.far {
  color: transparent;
}
.menu .logo-heart:hover .second {
  color: #9356DC;
}
.menu i.far {
  transform: margin-bottom 1s;
  transition-duration: 0.5s;
}
.menu .second {
  position: absolute;
  color: transparent;
  transform: margin-bottom 1s;
  transition-duration: 0.5s;
}
.menu .menu,
.menu .dishes {
  animation: 2s ease-out load;
}
.menu .dishes {
  background-color: #F6F6F6;
  border-style: none;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 70px;
  margin: 10px 0 10px 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.menu .dishes:hover .check {
  width: 25%;
}
.menu .dishes .text-dish {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 20px 20px;
}
.menu .dishes .text-dish h3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.menu .dishes .price {
  height: 90%;
  margin: 20px;
  padding-top: 65px;
}
.menu .dishes .check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  width: 0;
  height: 100%;
  color: white;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  transform: margin-right 1s;
  transition-duration: 500ms;
}
.menu .btn-order {
  margin-top: 50px;
}

@media screen and (max-width: 700px) {
  .menu {
    position: relative;
    bottom: 90px;
  }
}
@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    margin: 0;
    position: relative;
    bottom: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
