.logo-heart{
    @include structure;
    .second{
      position: absolute;
      opacity: 0;
    }
    &:hover{
      i.far{
        animation: disappear 1.5s;
        animation-fill-mode: forwards;
      }
      .second{
        animation: appear 2.5s;
        animation-fill-mode: forwards;
        background: linear-gradient(175deg, #ea73da, #9356dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
}