.logo-heart{
    @include structure;
    i.far{
      transform: margin-bottom 1s;
      transition-duration: 0.5s;
    }
    .second{
      position: absolute;
      color: transparent;
      transition-duration: 2s;
    }
    &:hover{
      i.far{
        color:transparent;
      }
      .second{
        background: -o-linear-gradient(bottom,$pink, $purple);
        background: linear-gradient(to top, $pink, $purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
}