/* --loader-- */
.loader{
  @include structure;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: white;
    animation: spin 2s linear infinite; 
  }
  .favloader{
    width: 50%;
    height: 50%;
  }