h1{
    margin: 35px 0 15px 0;
    text-align: center;
    font-size: 25px;
  }
@media screen and(max-width:600px){
    h1{
     width: 60%;
    }
}
h2{
    width: 90%;
    font-size: 18px;
}
.title-function,
.title-restaurant{
    font-size: 25px;
    align-self: flex-start;
    margin: 55px 0 30px 20px;
}
h3{ @include ellipsis;
    margin: 0;
}
hr{
    @include blue-line
}