/* --Colors-- */
$pink: #FF79DA;
$blue: #99E2D0;
$purple: #9356DC;
$lightpurple:#f4edff;
$lightgrey: #F6F6F6;
$grey: #EAEAEA;
$icongrey: #7e7e7e;
$darkengrey: #3A3433;

/* --Mixins-- */
@mixin structure{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin shadow-btn{
  box-shadow: 2px 2px 10px  rgba(0,0,0,0.2);
}
@mixin shadow-btn-hover{
  box-shadow: 0px 0px 30px $purple;
}
@mixin border{
  border: none;
  border-radius: 20px;
}
@mixin blue-line{
  margin-left: 20px;
  border-bottom: 3px solid $blue;
  border-left: none;
  border-top: none;
  width: 40px;
  margin-bottom: 10px;
}
@mixin card{
  display: flex;
  flex-direction: column;
  margin: 20px 30px 20px 30px;
  width: 340px;
  height: 255px;
  background-color: white;
}
@mixin ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
@mixin grey-btn{
  background-color:$lightgrey;
  border-style: none;
  display: flex;
}
@mixin btn-purple{
  border-style: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 220px;
  height: 50px;
  background: linear-gradient(175deg, #ea73da, #9356dc);
  color: white;
  border-radius: 50px;
  margin: 30px auto 60px auto;
}
/* --Keyframes -- */
@keyframes load{
    0%
    {opacity:0;
     transform: translateY(100%)}
    100%
    {opacity:1;
     transform: translateY(0)}
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  @keyframes appear{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes disappear{
    0%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
  }